<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/main.css" th:href="@{css/main.css}">
    <title>Input</title>
</head>
<body>
<h1>Input</h1>
<h3>Please enter your name</h3>
<form action="Output.html" th:action="@{Output}" th:object="${user}">
    <div>
        <label for="n">Name:</label>
        <input id="n" th:field="*{name}">
    </div>
    <h3>Please enter status</h3>
    <div>
        <label for="f">Faculty</label>
        <input type="radio" id="f" th:field="*{status}" value="faculty"><br>
        <label for="s">Staff</label>
        <input type="radio" id="s" th:field="*{status}" value="staff"><br><br>
    </div>
    <div>
        <input type="submit" value="Send">
    </div>
</form>
</body>
</html>